.Collapsible {
	border: 1px solid #303f9f;
	margin-bottom: 12px;
}

.Collapsible__trigger {
	background-color: #303f9f;
    color: white;
    display: block;
    padding: 12px;
}

.fieldDesc {
	margin-top: 5px;
    margin-left: 3px;
    font-size: 9pt;
	color: gray;
}